<!--<img class="my-photo" alt="my photo" src="assets/my-photo.jpg"/>-->

<div class="card">
    <img class="my-photo card-side front" alt="my photo" src="assets/profile.jpg"/>
    <div class="card-side back details">
        <p class="font-size-12"><span>{{'section1.name' | translate}}</span>: Daniel</p>
        <p class="font-size-12"><span>{{'section1.age' | translate}}</span>: 24</p>
        <p class="font-size-12"><span>{{'section1.studies' | translate}}</span>: {{'section1.my-studies' | translate}}</p>
    </div>
</div>
