<div class="footer">
    <p class="font-size-14 mt-4 sentence">{{'footer.sentence' | translate}}</p>
    <div class="icon-container">
        <a href="https://www.linkedin.com/in/daniel-del-rio-juncal/" target="_blank" class="my-button alter"><img class="icon" src="assets/linked-in-icon.svg" alt=""></a>
        <a href="https://github.com/DanieldelRioJ" class="my-button alter" target="_blank"><img class="icon" src="assets/github-icon.svg" alt=""></a>
        <a href="https://www.kaggle.com/danieldelro" class="my-button alter" target="_blank"><img class="icon" src="assets/kaggle-icon.svg" alt=""></a>
    </div>
    <div>
        <div class="angular-logo-container mr-1"><p class="font-size-8" >Made with</p></div>
        <img class="angular-logo" src="assets/angular-logo.svg"/>
    </div>
</div>
