<section class="section1">
    <ng-particles #particle [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
                  (particlesLoaded)="particlesLoaded($event)"></ng-particles>

    <div class="my-content">
        <div class="header">
            <img src="assets/logo.png" alt="Logo" class="logo"/>
            <div class="botton-lang-container">
                <a href="mailto:daniel.delrio.juncal@gmail.com" class="my-button font-size-12 mr-2">{{'common.say-hello' | translate}}</a>
                <app-lang-select></app-lang-select>
            </div>
        </div>
        <div class="title-container">
            <h2 class="title font-size-28">{{'section1.header' | translate}}</h2>
            <h3 class="subtitle font-size-16">{{'section1.subheader' | translate}}</h3>
        </div>

        <div class="my-photo-container"><app-my-photo></app-my-photo></div>
    </div>
</section>



<div class="section2">
    <h2 class="title font-size-24">{{'section2.title' | translate}}</h2>
    <p class="subtitle font-size-14">{{'section2.subtitle' | translate}}</p>
</div>

<div class="section3">
    <div class="skills-content">
        <div class="columns">
            <app-skill *ngFor = 'let skill of skills' [skill]="skill"></app-skill>
        </div>
    </div>

</div>

<div id="computer-vision" class="section4 mt-4">
    <h2 class="title font-size-24">{{'section4.title' | translate}}</h2>
    <p class="subtitle font-size-14">{{'section4.description' | translate}}. <a href="mailto:daniel.delrio.juncal@gmail.com">{{'common.email-me' | translate}}!</a></p>
    <div class="works mb-3">
        <div class="work p-2" *ngFor="let work of computerVisionWorks">
            <app-work-card [work]="work"></app-work-card>
        </div>
    </div>
    <a href="https://www.kaggle.com/danieldelro" target="_blank" class="my-button highlight font-size-12 mr-2">{{'section4.see-more-kaggle' | translate}}</a>

</div>

<div id="web-developer"  class="section5 mt-6">
    <h2 class="title font-size-24">{{'section5.title' | translate}}</h2>
    <p class="subtitle font-size-14">{{'section5.description' | translate}}. <a href="mailto:daniel.delrio.juncal@gmail.com">{{'common.email-me' | translate}}!</a></p>
    <div class="works">
        <div class="work p-2" *ngFor="let work of webWorks">
            <app-work-card [work]="work"></app-work-card>
        </div>
    </div>
</div>

<div id="mentor" class="section6"></div>


<div id="companies"  class="section7 mt-6">
    <h2 class="title font-size-24 mb-4">{{'companies.title' | translate}}</h2>
    <div class="company-logo-container">
        <a href="https://itg.es/" target="_blank" class="mx-4 mb-3"><img class="company-logo" src="assets/companies/itg.png" alt="ITG"></a>
        <a href="https://bosonit.com/" target="_blank" class="mx-4 mb-3"><img class="company-logo" src="assets/companies/bosonit_web.png" alt="Bosonit"></a>
        <a href="https://www.televes.com/" target="_blank" class="mx-4 mb-3"><img class="company-logo" src="assets/companies/televes.png" alt="Televes"></a>
        <a href="https://citius.gal/" target="_blank" class="mx-4 mb-3"><img class="company-logo" src="assets/companies/citius.png" alt="Citius"></a>
        <a href="https://www.tecalis.com" target="_blank" class="mx-4 mb-3"><img class="company-logo" src="assets/companies/tecalis.png" alt="Tecalis"></a>
        <a href="https://sixtema.es" target="_blank" class="mx-4 mb-3"><img class="company-logo" src="assets/companies/sixtema.jpg" alt="Sixtema"></a>
    </div>

</div>
